@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron jumbotron-fluid">
    <div class="text-center">
        <img src="~/img/logo_branco.png" class="rounded" alt="">
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="row">
                <input placeholder="Entre com CNPJ" class="col-12 form-control" type="text" id="pesquisaCnpj" />
            </div>
        </div>

        <div class="col-4">
            <button class="btn btn-success" id="btnPesquisar">Pesquisar</button>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="row" id="listaEmpresa">
                    <ul class="list-group">
                        <li class="list-group-item disabled" aria-disabled="true" id="lstNmEmpresa">Nome Empresa</li>
                        <li class="list-group-item disabled" aria-disabled="true" id="lstNmFantasia">NomeFantasia</li>
                        <li class="list-group-item disabled" aria-disabled="true" id="lstCnpj">Cnpj</li>
                        <li class="list-group-item disabled" aria-disabled="true" id="lstTipoEmpresa">TipoEmpresa</li>
                        <li class="list-group-item disabled" aria-disabled="true" id="lstDataAbertura">DataAbertura</li>
                        <li class="list-group-item disabled" aria-disabled="true" id="lstCapitalSocial">CapitalSocial</li>
                        <li class="list-group-item disabled" aria-disabled="true" id="lstProcura">Procura</li>
                        <li class="list-group-item disabled" aria-disabled="true" id="lstSocios">Socios</li>
                    </ul>
                </div>
            </div>
            <div class="col-6">
                <div class="row" id="listaEmpresa">
                    <ul class="list-group">
                        <li class="list-group-item disabled" aria-disabled="true" id="lstNumero">Numero</li>
                        <li class="list-group-item disabled" aria-disabled="true" id="lstCep">Cep</li>
                        <li class="list-group-item disabled" aria-disabled="true" id="lstBairro">Bairro</li>
                        <li class="list-group-item disabled" aria-disabled="true" id="lstUf">Uf</li>
                        <li class="list-group-item disabled" aria-disabled="true" id="lstTelefone">Telefone</li>
                        <li class="list-group-item disabled" aria-disabled="true" id="lstLogradouro">Logradouro</li>
                        <li class="list-group-item disabled" aria-disabled="true" id="lstMunicipio">Municipio</li>
                        <li class="list-group-item disabled" aria-disabled="true" id="lstEmail">Email</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12">
        <button class="btn btn-success col-6" id="btnSalvar">Salvar</button>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/index.js"></script>
}
